<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{css/style.css}">
    <title>Облік в/с</title>
</head>
<body>
<div class="app">
    <h2 class="title-page">
        Облік в/с в підрозділі
    </h2>

    <div class="table-container">
        <table class="table">
            <thead class="table-head">
            <tr>
                <th>№</th>
                <th>Прізвище</th>
                <th>Ім'я</th>
                <th>По батькові</th>
                <th>Посада</th>
                <th>Дата народження</th>
                <th>Дії</th>
            </tr>
            </thead>
            <tbody class="table-body">
            <tr th:each="serviceman, index: ${servicemen}">
                <td th:text="${index.count}"></td>
                <td th:text="${serviceman.getLastName()}"></td>
                <td th:text="${serviceman.getFirstName()}"></td>
                <td th:text="${serviceman.getMiddleName()}"></td>
                <td th:text="${serviceman.getPosition()}"></td>
                <td th:text="${serviceman.getBirthDate()}"></td>
                <td class="actions">
                    <a href="#" class="edit-btn"><span>&#9998;</span></a>
                    <a href="#" class="delete-btn"><span>&#215;</span></a>
                </td>
            </tr>
            </tbody>
        </table>

        <div class="button-container">
            <a href="/servicemen/create" class="create-btn">Створити нового військовослужбовця</a>
        </div>
    </div>
</div>
</body>
</html>